@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
Called the service at @MySettings.API_URL and it replied -
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
