<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://vs17bolstlapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <PublishFramework />
    <ProjectGuid>c11af94e-df8f-4fb9-b6af-0d577bd92622</ProjectGuid>
    <MSDeployServiceURL>vs17bolstlapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>vs17bolStlAPI</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$vs17bolStlAPI</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ResourceId>/subscriptions/08e3589c-64d0-49f3-a429-bfffc16fb024/resourcegroups/benko-west/providers/Microsoft.Web/sites/vs17bolStlAPI</ResourceId>
    <ContainerResourceId>/subscriptions/08e3589c-64d0-49f3-a429-bfffc16fb024/resourcegroups/benko-west/providers/Microsoft.ContainerRegistry/registries/BenDockerReg</ContainerResourceId>
    <ContainerResourceName>BenDockerReg</ContainerResourceName>
    <ResourceGroup>benko-west</ResourceGroup>
    <Subscription>myDemos - mike@benko.com</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>https://bendockerreg.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
  </PropertyGroup>
</Project>